[user]
	email = vincent.fournier@nuance.com
	name = Vincent Fournier
[alias]
	b = branch
	co = checkout
	c = commit
	d = diff
	dc = diff --cached
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -n 8
	lo = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	p = pull
	r = reset --hard HEAD
	s = status
[core]
	autocrlf = input
	filemode = false
	editor = vi
	excludesfile = ~/.config/git/gitignore_global
	pager = diff-so-fancy | less --tabs=1,5 -R
