[user]
	email = vince@ntfournier.com
	name = Vincent Fournier
[gitreview]
	username = ntfournier
[alias]
	d = diff
	dc = diff --cached
	l = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	l5 = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit -n 5
	r = reset --hard HEAD
	s = status
[core]
	autocrlf = input
	editor = vi
	excludesfile = ~/.gitignore_global
	pager = diff-highlight | diff-so-fancy | less --tabs=1,5 -R
