vscode/.config/Code/Backups/
vscode/.config/Code/Cache/
vscode/.config/Code/CachedData/
vscode/.config/Code/Cookies
vscode/.config/Code/Cookies-journal
vscode/.config/Code/Local Storage/
vscode/.config/Code/Preferences
vscode/.config/Code/machineid
vscode/.config/Code/storage.json

